body{
    margin:0;
    padding:0;
}

#menu{
    width:100%;
    background:#1565c0;
    height:80px;
    
}
#menu h2{
    color:#fff;
    padding:25px 10px;
    text-transform: uppercase;
}
#form{
    margin-top:2%;
    padding: 0 40px;
}

#none{
    display:none;
}